.input {
  background: var(--white);
  border-radius: 6px;
  transition: all 0.2s;
  border: 1px solid var(--gray1);
  padding: 17px 12px;
  max-width: 295px;
  width: 100%;
  font-size: 14px;
}

.input:focus {
  border: 1px solid var(--red1);
}

.input:disabled {
  background: var(--gray3);
  border: 1px solid var(--gray2);
}
