.repo-panel {
  max-width: 397px;
  width: 100%;
  padding: 20px;
  background: var(--white);
  max-height: 100vh;
  overflow-y: auto;
}

.repo-panel .search-form {
  margin-bottom: 20px;
}

.repo-panel__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 15px;
}
